@import "element-plus/dist/index.css";

:root {
  --my-primary-color: #409eff;
  --my-success-color: #67c23a;
  --my-warning-color: #e6a23c;
  --my-danger-color: #f56c6c;
  --my-border-radius: 4px;
  --my-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

@import "./button.scss";
@import "./input.scss";