$padding: 8px 16px;
.base-button {
    padding: $padding;
}
// 全局样式覆盖
.el-button--primary {
    background-color: var(--primary-color);
    @extend .base-button;
    &:hover {
        background-color: var(--primary-color-dark);
    }
    &:disabled {
        background-color: var(--primary-color-disabled);
        &:hover {
            background-color: var(--primary-color-disabled);
        }
    }
}

.el-button--success {
    @extend .base-button;
    background-color: var(--success-color);
    &:hover {
        background-color: var(--success-color-dark);
    }
    &:disabled {
        background-color: var(--success-color-disabled);
        &:hover {
            background-color: var(--success-color-disabled);
        }
    }
}
.el-button--danger {
    @extend .base-button;       
    background-color: var(--danger-color);
    &:hover {
        background-color: var(--danger-color-dark);
    }
    &:disabled {
        background-color: var(--danger-color-disabled);
        &:hover {
            background-color: var(--danger-color-disabled);
        }
    }
}

.el-button--default {
    @extend .base-button;
    border-color: var(--primary-color);
    color: var(--primary-color);
    &:hover {
        background-color: var(--primary-color);
        color: #fff;
    }
}
